<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.builtbywin.kanata-sculpt</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/builtbywin-kanata-launchd</string>
        <string>com.builtbywin.kanata-sculpt</string>
        <string>/Users/winstonzhao/.config/kanata/kanata-sculpt.kbd</string>
        <string>5830</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>BUILTBYWIN_KANATA_BIN</key>
        <string>/Users/winstonzhao/.cargo/bin/kanata</string>
        <key>BUILTBYWIN_KANATA_BOOT_DELAY_SECONDS</key>
        <string>20</string>
        <key>BUILTBYWIN_KANATA_WAIT_SECONDS</key>
        <string>120</string>
        <key>BUILTBYWIN_KANATA_CONSOLE_USER</key>
        <string>winstonzhao</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/com.builtbywin.kanata-sculpt.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.builtbywin.kanata-sculpt.err.log</string>
</dict>
</plist>
