# builtby.win/dotfiles

# Read dotfiles path (written by bootstrap/apply helper to ~/.config/dotfiles/path)
if [[ -f "$HOME/.config/dotfiles/path" ]]; then
  DOTFILES_DIR="$(cat "$HOME/.config/dotfiles/path")"
  export DOTFILES_DIR
  [[ -f "$DOTFILES_DIR/shell/init.sh" ]] && source "$DOTFILES_DIR/shell/init.sh"
fi
